

.signup-form {
  
    width: 300px;
    margin: 0;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
  }
  
  .form-group {
    margin-bottom: 15px;
  }
  
  input, select {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
  }
  
  input[type="email"], input[type="password"] {
    border: 1px solid;
  }
  
  .greeting-section {
    margin-top: 20px;
  }
  